<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content='upgrade-insecure-requests'> -->


    <script src="js/vue3.js"></script>
    <script src="js/axios.js"></script>
    <link rel="stylesheet" href="scss/all.css">

     <!-- ======= videoJs ======= -->
     <script src="js/videoJs.js"></script>
     <link rel="stylesheet" href="scss/video-js.css">
    
    <!-- ======= 標題 & 收藏夾 ======= -->
    <title>影視平台 | 熱門影片</title>
    <link rel="icon" href="images/other/icoLogo.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/other/icoLogo.png" type="image/x-icon">


    <!-- ======= KEYWORD ======= -->
    <!-- <meta name="keywords"
        content="18+,SWAG,Porn,免費A片,JAV,FANZA,DMM,國產無碼,日韓精品,歐美激情,裏番動漫,自拍偷拍,制服絲襪,強姦亂倫,人妻熟女,綑綁調教,91國產,swag外流,網紅主播">
    <meta name="description"
        :content="國產無碼、日韓精品、歐美激情、裏番動漫、自拍偷拍、制服絲襪、強姦亂倫、人妻熟女、綑綁調教、91國產、swag外流、網紅主播，您想要的我這都有，百萬片源給您好看!" /> -->
        
    <!-- ======= Open Graph ======= -->
    <!-- <meta property="og:type" content="video">
    <meta property="og:image" content="https://i.imgur.com/4I8HC5k.jpg">

    <meta property="og:title" content="成人影視平台 | 熱門影片">
    <meta property="og:description"
        content="國產無碼、日韓精品、歐美激情、裏番動漫、自拍偷拍、制服絲襪、強姦亂倫、人妻熟女、綑綁調教、91國產、swag外流、網紅主播，您想要的我這都有，百萬片源給您好看!"> -->
</head>

<body>
    <div class="indexBox" id="app">
        <!-- ===== fullShow start ===== -->
        <div class="fullShow">
            <div class="top">
                <h1 class="txtLogo" alt="txtLogo" @click="createVod()">18caress</h1>
                <div class="menuBar">
                    <div class="icon" @click="menuSw = true"><span></span></div>
                </div>
            </div>
            <!-- imgList start (圖片展示) -->
            <div class="imgList">
                <div v-for="(item,index) in banner.val" :style="reBannerStyle(item.url,item.pos)" :class="{'on': index == banner.num}"></div>
            </div>
            <!-- actressMenu (女優分類) -->
            <div class="actressMenu">
                <ul>
                    <li v-for="(item,index) in actor" @mouseenter = "banner.num = item.selData" @click="createVod(item.selData)">{{item.name}}</li>
                </ul>
            </div>
            <!-- sortMenu start (類別分類) -->
            <div class="sortMenu" :class="{'on': menuSw}">
                <div class="closeBg" @click="menuSw = false"></div>
                <div class="closeBtn" @click="menuSw = false"></div>
                <div class="menu">
                    <ul>
                        <li v-for="(item,index) in sort" @mouseenter = "banner.num = item.selData" @click="createVod(item.selData),menuSw = false">
                            <div class="theme">
                                <h2 class="twTxt">{{item.title}}</h2>
                                <h3 class="enTxt">{{item.en}}</h3>
                            </div>
                            <div class="subtitle"><span>{{item.sub_01}}</span><span>{{item.sub_02}}</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ===== dlBtn start ===== -->
        <div class="dlBtn">
            <ul>
                <li v-for="(item,index) in linkBtn">
                    <a :href="item.href" target="_blank">
                        <img :src="item.src" alt="item.alt">
                    </a>
                </li>
            </ul>
        </div>

        <!-- ===== mvBox start ===== -->
        <div class="mvBox">
            <div class="nowtitle">正在播放 {{nowList}}</div>
            <div class="mvList" id="mvList">
                <ul>
                    <template v-for="(item,index) in mvList" :key="item.vod_title">
                        <li>
                            <div class="mvItem"  
                                @mouseenter = "item.switch = true,showVod(index)"
                                @mouseleave = "item.switch = false,delVod(index)"
                                :class="{'on':item.switch}">
                                <div class="poster" 
                                    :style="rebgi(item.vod_pic)"
                                    :class="{'on': isMobile()}"
                                    :alt="item.vod_title"
                                ></div>

                                <video  class="video-js" preload='auto' webkit-playsinline="true" playsinline="true" x5-video-player-type='h5-page' autoplay loop muted>
                                    <source :src="item.vod_play_url" type="application/x-mpegURL">
                                </video>
                            </div>
                            <div class="txtBox">
                                <div class="msg">
                                    <div class="dvdId" v-if="item.vod_number !='' ">{{item.vod_number}}</div>
                                    <div class="dvdId" v-if="item.vod_number =='' ">裏番動漫</div>
                                </div>
                                <p class="title" :title="item.vod_title">{{item.vod_title}}</p>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="footer">
                <p><span>Copyright © since 2023</span><span> lulutv All Rights Reserved.</span></p>
            </div>
        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    nowList:'熱門影片',
                    menuSw:false,
                    isHttp:false,

                    // 影片列表
                    mvList: [],

                    // 主要banner
                    banner: {
                        num: 0,
                        val: [
                            { alt: "波多野結衣", url: "images/carousel/actor_01.webp", pos: "35%", },
                            { alt: "蜜美杏", url: "images/carousel/actor_02.webp", pos: "50%", },
                            { alt: "橋本ありな", url: "images/carousel/actor_03.webp", pos: "65%", },
                            { alt: "深田えいみ", url: "images/carousel/actor_04.webp", pos: "41%", },
                            { alt: "小早川怜子", url: "images/carousel/actor_05.webp", pos: "65%", },
                            { alt: "君島みお", url: "images/carousel/actor_06.webp", pos: "70%", },
                            { alt: "大槻ひびき", url: "images/carousel/actor_07.webp", pos: "55%", },
                            { alt: "松下紗栄子", url: "images/carousel/actor_08.webp", pos: "50%", },
                            { alt: "素人影片", url: "images/carousel/sort_01.webp", pos: "63%", },
                            { alt: "西洋歐美", url: "images/carousel/sort_02.webp", pos: "47%", },
                            { alt: "裏番動漫", url: "images/carousel/sort_03.webp", pos: "52%", },
                            { alt: "制服誘惑", url: "images/carousel/sort_04.webp", pos: "60%", },
                            { alt: "熟女人妻", url: "images/carousel/sort_05.webp", pos: "50%", }
                        ]
                    },

                    // 選擇menu(演員)
                    actor:[
                        {name:"波多野結衣",selData: 0},
                        {name:"蜜美杏",selData: 1},
                        {name:"橋本ありな",selData: 2},
                        {name:"深田えいみ",selData: 3},
                        {name:"小早川怜子",selData: 4},
                        {name:"君島みお",selData: 5},
                        {name:"大槻ひびき",selData: 6},
                        {name:"松下紗栄子",selData: 7}
                    ],
                    // 選擇menu(類別)
                    sort:[
                        {title:"素人影片",en:"Amateur",sub_01:"鄰家女孩",sub_02:"真實上演",selData: 8},
                        {title:"西洋歐美",en:"Western",sub_01:"異國之戀",sub_02:"金髮尤物",selData: 9},
                        {title:"裏番動漫",en:"Anime",sub_01:"最熱動漫",sub_02:"火速上線",selData: 10},
                        {title:"制服誘惑",en:"Uniform",sub_01:"理性慾望",sub_02:"相互對峙",selData: 11},
                        {title:"熟女人妻",en:"Milf & Wife",sub_01:"寂寞人妻",sub_02:"等你來愛",selData: 12}
                    ],

                    // 連結按鈕
                    linkBtn:[
                        {href:'https://www.baline886.com',alt:'Download IOS',src:'images/download/dlBtn_01.webp'},
                        {href:'https://www.baline887.com',alt:'Download Android',src:'images/download/dlBtn_02.webp'},
                        {href:'https://www.baline888.com',alt:'Link Web page',src:'images/download/dlBtn_03.webp'}
                    ]
                }
            },
            methods: {
                // 返回背景style
                reBannerStyle(url,pos) {
                    return `background-image: url(${url}); --bgpos:${pos};`;
                },
                rebgi(data) {
                    return `background-image: url(${data})`;
                },
                // 創立影片
                createVod(style){
                    let tagVal = '';
                    let sortType = '';
                    let nowTitle = '熱門影片';
                    switch(style){
                        case 0: tagVal = '波多野結衣'; nowTitle = '波多野結衣'; break;
                        case 1: tagVal = '蜜美杏'; nowTitle = '蜜美杏'; break;
                        case 2: tagVal = '橋本ありな'; nowTitle = '橋本ありな'; break;
                        case 3: tagVal = '深田えいみ'; nowTitle = '深田えいみ'; break;
                        case 4: tagVal = '小早川怜子'; nowTitle = '小早川怜子'; break;
                        case 5: tagVal = '君島みお'; nowTitle = '君島みお'; break;
                        case 6: tagVal = '大槻ひびき'; nowTitle = '大槻ひびき'; break;
                        case 7: tagVal = '松下紗栄子'; nowTitle = '松下紗栄子'; break;
                        case 8: sortType = '7'; nowTitle = '素人影片'; break;
                        case 9: sortType = '3'; nowTitle = '西洋歐美'; break;
                        case 10: sortType = '4'; nowTitle = '裏番動漫'; break;
                        case 11: tagVal = '制服'; nowTitle = '制服誘惑'; break;
                        case 12: tagVal = '人妻'; nowTitle = '熟女人妻'; break;
                    }
                    axios.get("https://funsgirl.cc/api.php/external/tagsel",{ params:{key: "588THTUoI",tag: tagVal,type:sortType} }).then((r) => { this.mvList = r.data; this.nowList = nowTitle;});
                },
                // 綁定videojs
                showVod(idx){
                    this.$nextTick(() => {
                        let vod = document.querySelectorAll(".video-js");
                        videojs(vod[idx]);
                    })        
                },
                // 移除videojs,並賦予原先的參數
                delVod(idx){
                    this.$nextTick(() => {
                        let vod = document.querySelectorAll(".video-js");
                        videojs(vod[idx]).dispose();
                        let itemList = document.querySelectorAll('#mvList .mvItem');
                        let template = document.createElement('template');
                        template.innerHTML = `<video  class="video-js" preload='auto' webkit-playsinline="true" playsinline="true" x5-video-player-type='h5-page' autoplay loop muted>
                                                <source src="${this.mvList[idx].vod_play_url}" type="application/x-mpegURL">
                                             </video>`;
                        itemList[idx].appendChild(template.content.lastChild)
                    })  
                },
                // 判斷移動端
                isMobile() {
                    var userAgentInfo = navigator.userAgent;
                    var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
                    var flag = false;
                    for (var v = 0; v < Agents.length; v++) {
                        if (userAgentInfo.indexOf(Agents[v]) > 0) {
                            flag = true;
                            break;
                        }
                    }
                    return flag;
                },

            },

            created (){
                if(document.location.protocol == 'https:'){ 
                    let meta = document.createElement('meta');
                    meta.content = 'upgrade-insecure-requests';
                    meta.httpEquiv = 'Content-Security-Policy';
                    document.getElementsByTagName('head')[0].appendChild(meta);
                }
                this.$nextTick(() => { this.createVod("index");})           
            },
            mounted() {
                window.onresize = ()=>{this.menuSw = false;}
            },
        }).mount("#app");
    </script>
</body>
</html>